.ChatWindow {
    width: 80%;
    height: 100%;
    position: relative;
    float: left;
}

.MessageWindow {
    padding: 20px 50px;
    height: 90%;
    position: relative;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.MessageWindow::-webkit-scrollbar {
    display: none;
};

.MessageWindow p {
    width: 100%;
    float: right;
}

.messagesEnd {
    width: 100%;
    height: 5px;
    margin: 0;
    float: right;
}

@media (max-width: 1024px) {
    .ChatWindow {
        width: 60%;
    }   
}

@media (max-width: 640px) {
    .ChatWindow {
        width: 100%;
        position: absolute;
        z-index: 30;
        top: 0;
        background-color: #fff;
    }

    .HiddenOnMobile {
        display: none;
    }
}