header {
    background-color: #61dafb;
    height: 10vh;
    padding: 0 20px;
}

.AppLogo {
    padding-left: 20px;
    color: white;
    font-weight: 800;
    line-height: 80px;
    float: left;
    cursor: pointer;
    height: 100%;
}

.AppLogo img {
    float: left;
    height: 100%;
    margin-right: 20px;
}

.AppButtons {
    margin: 0;
    list-style: none;
    float: right;
    height: 100%;
}

.AppButton {
    display: inline-block;
    height: 100%;
    width: 150px;
    padding: 25px 10px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.5s;
}

.AppButton:hover {
    background-color: lightskyblue;
    border-bottom: 4px solid blue;
    color: blue;
}