/* react blue: #61dafb*/

header {
    background-color: lightblue;
    height: 10vh;
    padding: 0 20px;
    border-bottom: 1px solid lightskyblue;
}

.AppLogo {
    padding-left: 20px;
    color: white;
    font-weight: 800;
    line-height: 80px;
    float: left;
    cursor: pointer;
    height: 100%;
}

.AppLogo img {
    float: left;
    height: 100%;
    margin-right: 20px;
}

.AppButtons {
    margin: 0;
    list-style: none;
    float: right;
    height: 100%;
}

.AppButton {
    display: inline-block;
    height: 100%;
    width: 150px;
    padding: 25px 10px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.5s;
}

.AppButton:hover {
    background-color: lightskyblue;
    border-bottom: 4px solid blue;
    color: blue;
}

.MobileButtons {
    display: none;
}

@media (max-width: 640px) {      
    .AppButton {
        display: none;
    }

    .Banner {
        display: none;
    }

    .MobileButtons {
        display: block;
        list-style: none;
        float: right;
        text-align: right;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 50%;      
    }

    .MobileButtons li {
        color: #fff;
        height: 100%;
        float: right;
        width: 33.33%;
        font-size: 200%;
        padding-top: 20px;
        text-align: center;
    }

    /*.CancelChatBtn {
        display: none;
    }*/

    .HiddenOnMobile {
        display: none;
    }
}